<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.spotify.music" />
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity1"
            android:parentActivityName=".MainActivity"
            android:label= "activity_1"
            >
        </activity>

        <activity android:name=".Activity2"
            android:parentActivityName=".Activity1"
            android:label= "activity_2"
            >

        </activity>
        <activity android:name=".historyActivity"
            android:parentActivityName=".Activity2"
            android:label= "activity_his"
            >

        </activity>
        <activity android:name=".Activity3"
            android:parentActivityName=".Activity2"
            android:label= "activity_3"
            >

        </activity>

        <activity android:name=".CreateAccount"
            android:parentActivityName=".Activity1"
            android:label= "Create Account"
            >

        </activity>

    <activity android:name=".StarredArtist"
        android:parentActivityName=".Activity2"
        android:label= "Starred Artist"
        >

    </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>